<h2 mat-dialog-title class="titleH2">{{titleAction}} Producto</h2>

<mat-dialog-content>
    <form [formGroup]="formsProduct">
        <mat-grid-list cols="1" rowHeight="85px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="name">
                    <mat-icon matSuffix>fit_screen</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="idCategory">
                        <mat-option *ngFor="let item of listCategory" [value]="item.idCategory">
                            {{item.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Stock</mat-label>
                    <input matInput autocomplete="off" formControlName="stock" type="number">
                    <mat-icon matSuffix>edit_square</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput autocomplete="off" formControlName="price">
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="isActive">
                        <mat-option value="1">Activo</mat-option>
                        <mat-option value="0">Desactivado</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close class="buttonReturn">Volver</button>
    <button mat-raised-button class="buttonSave" [disabled]="formsProduct.invalid" (click)="SaveEdit_Product()">{{buttonAction}}</button>
</mat-dialog-actions>
