.toolbar {
    background-color: #1565c0; 
    color: white;
}

.icon {
    color: white;
}

.sidenav {
    width: 230px;
    background-color: #1565c0; 
}

.list-item {
    height: 500px;
}

.div-list-item {
    display: flex; 
    align-items: center;
}

.iconList{
    color: white !important; 
}

.span-div-list-item {
    margin-left: 20px;
    color: white;
}

.span {
    flex: 1 1 auto;
}

.labelUser {
    margin-right: 30px;
}