/* Estilo para el contenedor principal que incluye la barra de herramientas y el contenido */
.main-container {
    position: relative; /* Necesario para el posicionamiento del overlay */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow: hidden; /* Para evitar el desbordamiento */
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/imagenes/background.jpg'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    opacity: 0.8; /* Ajusta la opacidad para que la imagen sea más visible */
    z-index: -1; /* Asegura que el overlay esté detrás del contenido */
}

/* Estilo para el contenido del sidenav */
mat-sidenav-container {
    background: transparent; /* Quita el fondo por defecto */
}

/* Estilos existentes */
.toolbar {
    background-color: rgba(21, 101, 192, 0.9); /* Color de fondo con algo de transparencia */
    color: white;
}

.icon {
    color: white;
}

.sidenav {
    width: 230px;
    background-color: rgba(21, 101, 192, 0.9);
    border-radius: 0rem;
}

.list-item {
    height: 500px;
}

.div-list-item {
    display: flex; 
    align-items: center;
}

.iconList {
    color: white !important; 
}

.span-div-list-item {
    margin-left: 20px;
    color: white;
}

.span {
    flex: 1 1 auto;
}

.labelUser  {
    margin-right: 30px;
}