h1 {
    color: white;
    margin: 20px 0px 0px 40px;
}

table{
    width: 100%;
}

mat-card {
    background-color: #81d4fa;
    margin: 20px 40px 40px 40px;
}

.customButton {
    border-radius: 0.7rem 2.5rem 0 0;
    background-color: #1565c0;
    color: white;
}

mat-form-field {
    margin-top: 10px;
}

.formField{
    background-color: #81d4fa;
}

.Actions {
    width: 120px;
}

.customIconEdit {
    color: #FF8F00;
}

.customIconDelete {
    color: red;
}
