h1 {
    margin: 20px 0px 0px 40px;
}

table{
    width: 100%;
}

mat-card {
    margin: 20px 40px 40px 40px;
}

.customButton {
    background-color: #1565c0;
    color: white;
}

mat-form-field {
    margin-top: 10px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.Actions {
    width: 120px;
}

.customIconEdit {
    color: #FF8F00;
}

.customIconDelete {
    color: red;
}
