/* Estilo para los campos de formulario (mat-form-field) */
mat-form-field {
    width: 95%; /* Ancho casi completo (95% del contenedor padre) */
    /* Esto permite un pequeño margen a los lados del campo */
}

mat-dialog-content {
    width: 100% !important;
}

/* Estilo para el botón de retorno/volver */
.buttonReturn {
    background-color: #FF8F00; /* Color naranja para el fondo */
    color: white;             /* Texto en color blanco para contraste */
    /* Nota: Sería recomendable añadir :hover y :focus states para mejor accesibilidad */
}

/* Estilo para la tabla de productos */
table {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    /* Esto asegura que la tabla se expanda completamente en su contenedor */
}