/* Estilo para los campos de formulario */
mat-form-field {
    width: 100%;        /* Establece el ancho del campo de formulario al 100% de su contenedor padre */
    margin: 10px 10px;  /* Aplica un margen de 10 píxeles en la parte superior e inferior y 10 píxeles a los lados */
}

/* Estilo para la lista de cuadrícula */
mat-grid-list {
    margin-top: 20px; /* Agrega un margen superior de 20 píxeles para separar la cuadrícula del contenido anterior */
}

/* Estilo para el título del diálogo */
.titleH2 {
    background-color: #1565c0;  /* Establece un color de fondo azul oscuro para el título */
    color: white;               /* Cambia el color del texto a blanco para un buen contraste con el fondo */
}

/* Estilo para los íconos */
mat-icon {
    color: #1565c0; /* Asigna el color azul oscuro a los íconos, asegurando consistencia visual con el título */
}

/* Estilo para el formulario */
form {
    width: 350px; /* Establece un ancho fijo de 350 píxeles para el formulario */
}

/* Estilo para el botón de "Volver" */
.buttonReturn {
    background-color: #FF8F00;  /* Establece un color de fondo naranja para el botón de "Volver" */
    color: white;               /* Cambia el color del texto a blanco para asegurar su legibilidad */
}

/* Estilo para el botón de "Guardar" cuando está desactivado */
.buttonSave:disabled {
    background-color: #9e9e9e;  /* Color gris */
    color: white;               /* Color del texto blanco */
}

/* Estilo para el botón de "Guardar" */
.buttonSave {
    background-color: #2e7d32;  /* Establece un color de fondo verde oscuro para el botón de "Guardar" */
    color: white;               /* Cambia el color del texto a blanco para asegurar su legibilidad */
}